<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/new_game.css">

    <title>Cooperate-defect</title>
</head>
<body>
    <div class="container">
        <h2 class="section-title">Strategies</h2>
        <div class="strats-grid"></div>
        <h2 class="section-title">Settings</h2>
        <div class="settings">
            <div class="settings-label">Number of tournaments:</div>
            <input class="input settings-input" id="n-tournaments" value="50">
            <div class="settings-label">Players per strategy:</div>
            <input class="input settings-input" id="strat-players" value="5">
        </div>
        <div class="footer">
            <button class="btn btn-green">Start game</button>
        </div>
    </div>

    <script src="/static/js/new_game.js"></script>
</body>